.breed-select,
.loader,
.error,
.cat-info {
  display: none;
}

.is-active {
  display: block;
}

.breed-select {
  margin-bottom: 15px;
}

.cat-info.is-active{
    
  width: 900px;
  display: flex;
  gap: 15px;

  span {
    font-weight: 500;
  }
}
