.breed-select,
.loader,
.error,
.cat-info {
  display: none;
}

.is-active {
  display: block;
}

.breed-select {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 15px;

}

.loader {
  margin: 0 auto;
}

.cat-info.is-active{
  position: relative;  
  width: 900px;
  display: flex;
  gap: 15px;
  margin: 0 auto;

  background-color: aliceblue;
  border-radius: 8px;
  overflow: hidden;

  // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(156, 151, 151, 0.3) 0px 30px 60px -30px, rgba(20, 65, 110, 0.35) 0px -2px 6px 0px inset;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  span {
    font-weight: 700;
  }
}
